# Ignore node_modules, as they are handled inside the container
node_modules

# Ignore local environment files and logs
.env
npm-debug.log
*.log

# Git and version control
.git
.gitignore

# macOS specific
.DS_Store