# Ignorar dependências do Node, pois são gerenciadas dentro do container
node_modules

# Arquivos de log e de ambiente
npm-debug.log
.env

# Arquivos de configuração de ferramentas e IDE
.idea
.vscode